{% extends 'base/base.html' %}


{% block content %}

<script src="https://unpkg.com/sticky-table-headers"></script>


<table class="table table-striped">
 <thead class="thead-dark">
     <tr>
         <th>Id</th>
         <th>Nombre</th>
         <th>Apellido</th>
         <!-- <th id="createCategory"> Categoría (Hacer click para añadir)</th> -->
         <th> Correo </th>
         <th > Sede</th>
         <th> </th>
     </tr>
 </thead>
     <tbody>
         {% if domiciliarios %}
         {% for domiciliario in domiciliarios %}
         <tr>
             <td>{{ domiciliario.id_domiciliario }}</td>
             <td>{{ domiciliario.nombre }}</td>
             <td>{{ domiciliario.apellido }}</td>
             <td>{{ domiciliario.correo }}</td>
             <td> {{ domiciliario.id_sede.nombre }} </td>
             <td>

                 <a href="{% url 'editarDomiciliario' domiciliario.id_domiciliario %}">
                 <i class="fas fa-edit" style='cursor: pointer;'></i>
             </td>
         </tr>
         {% endfor %}
         {% endif %}
     </tbody>


</table>

<!-- Create Category Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Confirmación</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="alert alert-warning" id="product_delete_text" role="alert">
          </div>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

        <form action="" name="" id="deleteForm" method="post">
            {% csrf_token %}
            <input class="btn btn-danger" type="submit" value="Eliminar"/>
        </form>
      </div>
    </div>
  </div>
</div>



<script>
function displayDeleteModal(dom_id, dom_name, dom_apellido){
    document.getElementById('product_delete_text').innerText = '¿Estás seguro que deseas eliminar al domiciliario: ' + dom_name + ' ' + dom_apellido + '?'
    document.getElementById('deleteForm').action = '/floristeria/eliminarDomiciliario/' + dom_id
    $("#deleteModal").modal()
}

$('table').stickyTableHeaders();

</script>

{% endblock %}
